.wrapper {
  position: relative;
  width: 15rem;
}

.header {
  width: 100%;
  border: none;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: var(--br-bottom);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-accent);
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  .wrapper {
    margin-top: 0;
  }
}
