.search {
  --direction: column;
  display: flex;
  flex-direction: var(--direction);
}

.search > * + * {
  margin-top: 2em;
}

.form {
  width: 100%;
  max-width: 30rem;
}

.formGroup {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.5em;
  padding-left: 2.5em;
  border: none;
  border-bottom: var(--br-bottom);
  background-color: var(--clr-accent);
  box-shadow: var(--bx-shadow);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 10px;
  opacity: 0.4;
}

.resetButton {
  margin-top: 1em;
  border: 1px solid black;
  padding: 0.5em 1em;
  background-color: var(--clr-accent);
}

.select {
  max-width: 20rem;
}

@media (min-width: 48rem) {
  .search {
    --direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search > * + * {
    margin-top: 0em;
  }
}
