*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-ss: "Nunito", sans-serif;

  --fw-300: 300;
  --fw-600: 600;
  --fw-800: 800;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;

  --br-bottom: 3px solid hsla(0, 0%, 14%, 0.171);
}

body {
  font-family: var(--ff-ss);
  font-size: var(--fs-500);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Layout */

header + main {
  margin-top: 2em;
}
